/*********************** Global Styles **********************************/

html,
body {
  height: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.m-t-0 {
  margin-top: 0 !important;
}

.m-t-2 {
  margin-top: 2rem !important;
}

.m-t-4 {
  margin-top: 4rem !important;
}

.m-t-8 {
  margin-top: 8rem !important;
}

.m-b-4 {
  margin-bottom: 4rem !important;
}

.m-b-2 {
  margin-bottom: 2rem !important;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.text-gray {
  color: #666666 !important;
}

input:not([type="radio"]):not([type="checkbox"]) {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 6px 12px !important;
  height: 34px !important;
  border-color: #ccc !important;
  border-radius: 0 !important;
}

input:focus:not([type="radio"]):not([type="checkbox"]),
input:active:not([type="radio"]):not([type="checkbox"]) {
  border-color: #30A193 !important;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox label {
  cursor: pointer;
  margin-left: -16px;
}

.checkbox input[type="checkbox"] + label:before {
  border: 1px solid #ccc;
  content: "\A0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 2px .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}

.checkbox input[type="checkbox"]:checked + label:before {
  background: #fff;
  color: #30A193;
  content: "\2714";
  text-align: center;
}

.checkbox input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.light-background {
  background-color: #f9f9f9;
}

.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  border-radius: 9px;
}

.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.badge-error {
  background-color: #b94a48;
}

.badge-error:hover {
  background-color: #953b39;
}

.badge-warning {
  background-color: #f89406;
}

.badge-warning:hover {
  background-color: #c67605;
}

.badge-success {
  background-color: #468847;
}

.badge-success:hover {
  background-color: #356635;
}

.badge-info {
  background-color: #3a87ad;
}

.badge-info:hover {
  background-color: #2d6987;
}

.badge-inverse {
  background-color: #333333;
}

.badge-inverse:hover {
  background-color: #1a1a1a;
}

.blink_me {
  -webkit-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.list-item-underlined ul li {
  border: none;
  border-bottom: 1px dotted #ccc;
  background: transparent;
}

/************************ Navbar heights *********************************/

/* Small Navbar */

.navbar-small .navbar {
  min-height: 32px;
}

.navbar-small .navbar-header {
  padding: 0 15px;
  height: 32px;
  line-height: 32px;
}

.navbar-small .navbar-toggle {
  height: 32px;
  margin: 0 15px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-small .navbar-nav > li > a {
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 20px;
  }
}

/* Middle navbar*/

.navbar-middle .navbar {
  min-height: 40px;
}

.navbar-middle .navbar-header {
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
}

.navbar-middle .navbar-toggle {
  height: 40px;
  margin: 0 15px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-middle .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }
}

/************************ Navbar colors *********************************/

/* Top Navbar */

#top-navbar .navbar-default {
  border: none;
  border-radius: 0;
  margin: 0;
}

@media (max-width: 767px) {
  #top-navbar .navbar-default .navbar-collapse {
    background-color: #f3f3f3;
  }

  #top-navbar .navbar-default .navbar-collapse ul > li > a {
    color: #777777;
  }

  #top-navbar .navbar-default .navbar-collapse ul > li > a:hover,
  #top-navbar .navbar-default .navbar-collapse ul > li > a:focus {
    color: #ffffff;
    background-color: #30A193;
  }

  #top-navbar .navbar-default .navbar-collapse .active > a,
  #top-navbar .navbar-default .navbar-collapse .active > a:hover,
  #top-navbar .navbar-default .navbar-collapse .active > a:focus {
    color: #ffffff;
    background-color: #30A193;
  }

  #top-navbar .navbar-default .navbar-collapse .open > a,
  #top-navbar .navbar-default .navbar-collapse .open > a:hover,
  #top-navbar .navbar-default .navbar-collapse .open > a:focus {
    color: #ffffff;
    background-color: #30A193;
  }
}

/* Store Navbar*/

#store-navbar .navbar-collapse {
  border: none;
}

#store-navbar .navbar-default {
  background-color: #f3f3f3;
  border: none;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  z-index: 200;
}

#store-navbar .navbar-default ul > li > a {
  color: #777777;
}

#store-navbar .navbar-default ul > li > a:focus {
  color: #777777;
  background-color: #f3f3f3;
}

#store-navbar .navbar-default ul > li > a:hover {
  color: #ffffff;
  background-color: #30A193;
}

#store-navbar .navbar-default ul > .active > a,
#store-navbar .navbar-default ul > .active > a:hover,
#store-navbar .navbar-default ul > .active > a:focus {
  color: #ffffff;
  background-color: #30A193;
}

#store-navbar .navbar-default ul > .open > a,
#store-navbar .navbar-default ul > .open > a:hover,
#store-navbar .navbar-default ul > .open > a:focus {
  color: #ffffff;
  background-color: #30A193;
}

#store-navbar .navbar-default ul > .open .dropdown-menu > li > a {
  color: #777777;
}

#store-navbar .navbar-default ul > .open .dropdown-menu > li > a:hover,
#store-navbar .navbar-default ul > .open .dropdown-menu > li > a:active {
  color: #ffffff;
}

#store-navbar .navbar-default .navbar-toggle {
  border-color: #dddddd;
}

#store-navbar .navbar-default .navbar-toggle:hover,
#store-navbar .navbar-default .navbar-toggle:focus {
  background-color: #f3f3f3;
}

#store-navbar .navbar-default .navbar-toggle .icon-bar {
  background-color: #777777;
}

#store-navbar ul.navbar-feature > li > a:hover {
  background-color: #f3f3f3;
  color: #777777;
}

#store-navbar .btn-cart-xs {
  background-color: #f3f3f3;
  height: 34px;
  padding: 8px 25px;
  margin-top: 3px;
}

/************************ Other header styles *********************************/

@media (min-width: 992px) {
  #top-navbar #top-navbar-collapse ul:first-child {
    margin-left: 8.33333333%;
  }
}

.fixed-header-middle {
  position: fixed;
  top: -64px;
  left: 0;
  right: 0;
  padding: 0 !important;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/*Small Language Picker */

.navbar-small #header-top-menu-language .navbar-nav {
  margin: 0;
}

.navbar-small #header-top-menu-language .navbar-nav > li > a {
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 20px;
}

.navbar-small #header-top-menu-language .icon-small {
  height: 11px;
  margin: 0 5px 0 0;
  padding: 0;
  width: 16px;
}

/* Middle Header*/

#header-middle-wrapper {
  padding: 15px 0;
}

#header-middle {
  background-color: #f9f9f9;
}

#header-middle .header-middle-item {
  padding: 15px 0;
}

#header-middle .header-middle-item-height {
  height: 34px;
}

#header-middle .bootstrap-select .btn {
  height: 34px;
  border-left: none;
  border-color: #ccc;
  outline: none;
}

#header-middle .bootstrap-select ul li a:hover,
#header-middle .bootstrap-select ul li a[aria-selected="true"],
#header-middle .bootstrap-select .input-group-btn > .btn {
  background-color: #30A193;
  color: white;
  border: none;
  outline: none;
}

#header-middle .search-button {
  background-color: #30A193;
  color: white;
  border: none;
  outline: none;
}

#header-middle #dropdown-cart button {
  background-color: #f3f3f3;
}

#header-middle #dropdown-cart button:hover {
  border: 1px solid #30A193;
}

#header-middle #dropdown-cart .dropdown-menu {
  padding: 10px;
}

/*******************************************************/

/* Breadcrumbs */

.breadcrumb-wrapper {
  background-color: #f5f5f5;
}

.breadcrumb {
  margin: 0;
}

/* Underlined Title */

.underlined-title {
  border-bottom: 3px solid #38bbaa;
  margin-bottom: 20px;
}

.underlined-title h1,
.underlined-title h2,
.underlined-title h3,
.underlined-title h4,
.underlined-title h5 {
  margin-top: 4rem;
  border-bottom: 3px solid #28877c;
  display: inline-block;
  margin-bottom: -3px;
  padding-bottom: 10px;
}

/********************************** User Logotype ***************************************/

#user-logotype a {
  padding: 0;
}

#user-logotype h4 {
  padding: 10px 0;
  margin: 0;
  height: 40px;
}

#user-logotype img {
  padding: 10px 50px;
}

@media (max-width: 767px) {
  #user-logotype img {
    padding: 10px 80px;
  }
}

/********************************** User Menu ***************************************/

.user-menu ul li a {
  color: #666666 !important;
  border-radius: 0;
}

.user-menu ul li a:hover {
  color: #225878 !important;
  background-color: #f3f3f3 !important;
}

.user-menu ul li.active a {
  color: white !important;
  background-color: #30A193 !important;
}

/************************************* Mega Menu ************************************/

.yamm .nav,
.yamm .dropup,
.yamm .dropdown,
.yamm .collapse {
  position: static;
}

.yamm .navbar-inner,
.yamm .container {
  position: relative;
}

.yamm .dropdown-menu {
  left: auto;
}

.yamm .dropdown-menu > li {
  display: block;
}

.yamm .dropdown-submenu .dropdown-menu {
  left: 100%;
}

.yamm .nav.pull-right .dropdown-menu {
  right: 0;
}

.yamm .yamm-content {
  padding: 20px 30px;
}

.yamm.navbar .nav > li > .dropdown-menu:after,
.yamm.navbar .nav > li > .dropdown-menu:before {
  display: none;
}

.yamm .dropdown.yamm-fullwidth .dropdown-menu {
  width: 100%;
  left: 0;
  right: 0;
}

@media (max-width: 767px) {
  .yamm .dropdown.yamm-fullwidth .dropdown-menu {
    width: auto;
  }

  .yamm .dropdown-menu > li > ul {
    display: block;
  }
}

/* Other*/

.img-portfolio {
  margin-bottom: 30px;
}

.img-hover:hover {
  opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
  height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
  height: 100%;
}

header.carousel .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* 404 Page Styles */

.error-404 {
  font-size: 100px;
}

/* Pricing Page Styles */

.price {
  display: block;
  font-size: 50px;
  line-height: 50px;
}

.price sup {
  top: -20px;
  left: 2px;
  font-size: 20px;
}

.period {
  display: block;
  font-style: italic;
}

/* Footer Styles */

#footer {
  margin: 50px 0;
}

/* Responsive Styles */

@media (max-width: 991px) {
  .customer-img,
  .img-related {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .img-portfolio {
    margin-bottom: 15px;
  }

  header.carousel .carousel {
    height: 70%;
  }
}

.icon-small {
  height: 18px;
  margin: 0;
  padding: 0;
}

.icon-medium {
  height: 22px;
  margin: 0;
  padding: 0;
}

/*text indent*/

.text-indent {
  text-indent: 30px;
}

/*vertical margin*/

.top-buffer {
  margin-top: 20px;
}

/* full width*/

.full-width {
  width: 100%;
}

