// layout

$light-background: #f9f9f9;

// Top Navbar
$navbar-small-height: 32px;

// Store Navbar
$navbar-middle-height: 40px;

// Navbar colors
$store-navbar-color: #777777;
$store-navbar-bg-color: #f3f3f3;
$store-navbar-highlight-color: #ffffff;
$store-navbar-highlight-bg-color: $brand-primary;
$store-navbar-toggle-border-color: #dddddd;