// Variables
@import "variables";
@import "my_variables";

/*********************** Global Styles **********************************/

html,
body {
  height: 100%;
  line-height: 1.6;
  font-family: RobotoDraft, Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: RobotoDraft, Roboto, sans-serif;
}

.overflow-hidden {
  overflow: hidden;
}

.m-t-0 {
  margin-top: 0 !important;
}

.m-t-1 {
  margin-top: 1rem !important;
}

.m-t-2 {
  margin-top: 2rem !important;
}

.m-t-4 {
  margin-top: 4rem !important;
}

.m-t-8 {
  margin-top: 8rem !important;
}

.m-b-4 {
  margin-bottom: 4rem !important;
}

.m-b-2 {
  margin-bottom: 2rem !important;
}

.p-l-1 {
  padding-left: 1rem;
}

.p-l-2 {
  padding-left: 2rem;
}

.p-l-4 {
  padding-left: 4rem;
}

.p-l-12 {
  padding-left: 12rem;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.text-gray {
  color: #666666 !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

// ***************************************** Forms *********************************************

input:not([type="radio"]):not([type="checkbox"]) {
  outline: none !important;
  box-shadow: none !important;
  padding: 6px 12px !important;
  height: 34px !important;
  border-color: $input-border !important;
  border-radius: 0 !important;
}

input:focus:not([type="radio"]):not([type="checkbox"]), input:active:not([type="radio"]):not([type="checkbox"]) {
  border-color: $brand-primary !important;
}

.checkbox {
  input[type="checkbox"] {
    display: none;
  }
  label {
    cursor: pointer;
    margin-left: -16px;
  }
  input[type="checkbox"] + label:before {
    border: 1px solid $input-border;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 2px .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
    font-weight: bold;
  }
  input[type="checkbox"]:checked + label:before {
    background: #fff;
    color: $brand-primary;
    content: "\2714";
    text-align: center;
  }
  input[type="checkbox"]:checked + label:after {
    font-weight: bold;
  }
}

.btn {
  border-radius: 0;
}

select, textarea {
  border: 1px solid $input-border;
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

select:focus, textarea:focus {
  border: 1px solid $brand-primary !important;
  border-radius: 0;
  box-shadow: none !important;
}

// container

@media (min-width: $screen-lg) {
  .container {
    width: 1200px;
  }
}

// layout

.light-background {
  background-color: $light-background;
}

// budges
.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.badge-error {
  background-color: #b94a48;
}

.badge-error:hover {
  background-color: #953b39;
}

.badge-warning {
  background-color: #f89406;
}

.badge-warning:hover {
  background-color: #c67605;
}

.badge-success {
  background-color: #468847;
}

.badge-success:hover {
  background-color: #356635;
}

.badge-info {
  background-color: #3a87ad;
}

.badge-info:hover {
  background-color: #2d6987;
}

.badge-inverse {
  background-color: #333333;
}

.badge-inverse:hover {
  background-color: #1a1a1a;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.list-item-underlined {
  ul li {
    border: none;
    border-bottom: 1px dotted $input-border;
    background: transparent;
  }
}

/************************ Navbar heights *********************************/

/* Small Navbar */

.navbar-small {
  .navbar {
    min-height: $navbar-small-height;
  }
  .navbar-header {
    padding: 0 15px;
    height: $navbar-small-height;
    line-height: $navbar-small-height;
  }
  .navbar-toggle {
    height: $navbar-small-height;
    margin: 0 15px;
    padding: 9px 10px !important;
  }
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      padding-top: 6px;
      padding-bottom: 6px;
      line-height: 20px;
    }
  }
}

/* Middle navbar*/

.navbar-middle {
  .navbar {
    min-height: $navbar-middle-height;
  }
  .navbar-header {
    padding: 0 15px;
    height: $navbar-middle-height;
    line-height: $navbar-middle-height;
  }
  .navbar-toggle {
    height: $navbar-middle-height;
    margin: 0 15px;
    padding: 9px 10px !important;
  }
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
    }
  }
}

/************************ Navbar colors *********************************/

/* Top Navbar */

#top-navbar {

  .navbar-default {
    border: none;
    border-radius: 0;
    margin: 0;
  }

  @media (max-width: 767px) {

    .navbar-default .navbar-collapse {

      background-color: $store-navbar-bg-color;

      ul > li > a {
        color: $store-navbar-color;
      }
      ul > li > a:hover, ul > li > a:focus {
        color: $store-navbar-highlight-color;
        background-color: $store-navbar-highlight-bg-color;
      }

      .active > a,
      .active > a:hover,
      .active > a:focus {
        color: $store-navbar-highlight-color;
        background-color: $store-navbar-highlight-bg-color;
      }
      .open > a,
      .open > a:hover,
      .open > a:focus {
        color: $store-navbar-highlight-color;
        background-color: $store-navbar-highlight-bg-color;
      }
    }
  }
}

/* Store Navbar*/

#store-navbar {
  .navbar-collapse {
    border: none;
  }

  .navbar-default {
    background-color: $store-navbar-bg-color;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 0;
    z-index: 2000;

    ul > li > a {
      color: $store-navbar-color;
    }

    ul > li > a:focus {
      color: $store-navbar-color;
      background-color: $store-navbar-bg-color;
    }

    ul > li > a:hover {
      color: $store-navbar-highlight-color;
      background-color: $store-navbar-highlight-bg-color;
    }

    ul > .active > a,
    ul > .active > a:hover,
    ul > .active > a:focus {
      color: $store-navbar-highlight-color;
      background-color: $store-navbar-highlight-bg-color;
    }

    ul > .open > a,
    ul > .open > a:hover,
    ul > .open > a:focus {
      color: $store-navbar-highlight-color;
      background-color: $store-navbar-highlight-bg-color;
    }

    ul > .open .dropdown-menu > li > a {
      color: $store-navbar-color;
    }

    ul > .open .dropdown-menu > li > a:hover, ul > .open .dropdown-menu > li > a:active {
      color: $store-navbar-highlight-color;
    }

    .navbar-toggle {
      border-color: $store-navbar-toggle-border-color;
    }

    .navbar-toggle:hover, .navbar-toggle:focus {
      background-color: $store-navbar-bg-color;
    }

    .navbar-toggle .icon-bar {
      background-color: $store-navbar-color;
    }
  }

  ul.navbar-feature > li > a:hover {
    background-color: $store-navbar-bg-color;
    color: $store-navbar-color;
  }

  .btn-cart-xs {
    background-color: $store-navbar-bg-color;
    height: 34px;
    padding: 8px 25px;
    margin-top: 3px;
  }

  // remove gap between menu and mega-menu
  .dropdown-menu {
    //margin-top: 0;
  }

  // auto open submenu on hover
  //ul.nav li.dropdown:hover > ul.dropdown-menu {
  //  display: block;
  //}
  //@media (min-width: 768px) {
  //  ul.nav li.dropdown:hover > ul.dropdown-menu {
  //    display: block;
  //  }
  //}

}

/************************ Other header styles *********************************/

// Margin user login reference

#top-navbar {
  @media (min-width: 992px) {
    #top-navbar-collapse ul:first-child {
      margin-left: 8.33333333%;
    }
  }
}

// Fixed search bar to top on scroll

.fixed-header-middle {
  position: fixed;
  top: -64px;
  left: 0;
  right: 0;
  padding: 0 !important;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 3000;
}

/*Small Language Picker */

.navbar-small {

  #header-top-menu-language {

    .navbar-nav {
      margin: 0;
    }

    .navbar-nav > li > a {
      padding-top: 6px;
      padding-bottom: 6px;
      line-height: 20px;
    }

    .icon-small {
      height: 11px;
      margin: 0 5px 0 0;
      padding: 0;
      width: 16px;
    }
  }
}

/* Middle Header*/

#header-middle-wrapper {
  padding: 15px 0;
}

#header-middle {

  background-color: $light-background;

  .header-middle-item {
    padding: 15px 0;
  }

  .header-middle-item-height {
    height: 34px;
  }

  .bootstrap-select {
    .btn {
      height: 34px;
      border-left: none;
      border-color: $input-border;
      outline: none;
    }

    ul li a:hover, ul li a[aria-selected="true"], .input-group-btn > .btn {
      background-color: $brand-primary;
      color: white;
      border: none;
      outline: none;
    }
  }

  .search-button {
    background-color: $brand-primary;
    color: white;
    border: none;
    outline: none;
  }

  #dropdown-cart {

    button {
      background-color: $store-navbar-bg-color;
    }
    button:hover {
      border: 1px solid $brand-primary;
    }
    .dropdown-menu {
      padding: 10px;
    }
  }
}

/*******************************************************/

/* Breadcrumbs */

.breadcrumb-wrapper {
  background-color: #f5f5f5;
}

.breadcrumb {
  margin: 0;
}

.breadcrumb > li + li:before {
  //color: #cccccc;
  content: '\00BB';
  //padding: 0 5px;
}

/* Underlined Title */

.underlined-title {
  border-bottom: 3px solid lighten($brand-primary, 6.5%);
  margin-bottom: 20px;
  h1, h2, h3, h4, h5 {
    margin-top: 4rem;
    border-bottom: 3px solid darken($brand-primary, 6.5%);
    display: inline-block;
    margin-bottom: -3px;
    padding-bottom: 10px;
  }
}

/********************************** User Logotype ***************************************/

#user-logotype {
  a {
    padding: 0;
  }
  // user name
  h4 {
    padding: 10px 0;
    margin: 0;
    height: 40px;
  }
  // user image
  img {
    padding: 10px 50px;

    @media (max-width: 767px) {
      padding: 10px 80px;
    }
  }
}

/********************************** User Menu ***************************************/

.user-menu {
  ul li a {
    color: #666666 !important;
    border-radius: 0;
  }
  ul li a:hover {
    color: darken($headings-color, 13%) !important;
    background-color: $store-navbar-bg-color !important;
  }
  ul li.active a {
    color: white !important;
    background-color: $brand-primary !important;
  }
}

/************************************* Mega Menu ************************************/

.yamm {

  // reset positions
  .nav, .dropup, .dropdown, .collapse {
    position: static;
  }

  // propagate menu position under navbar inner or container
  .navbar-inner, .container {
    position: relative;
  }

  // by default aligns to menu item
  .dropdown-menu {
    left: auto;
    > li {
      display: block;
    }
  }
  // restore submenu position
  .dropdown-submenu .dropdown-menu {
    left: 100%;
  }

  .nav.pull-right .dropdown-menu {
    right: 0;
  }

  // Content with padding
  .yamm-content {
    padding: 20px 30px;
    //.clearfix(); // acts as a span container
  }

  // remove dropdown top arrows
  &.navbar .nav > li > .dropdown-menu:after,
  &.navbar .nav > li > .dropdown-menu:before {
    display: none;
  }

  //  Fullwidth menu
  .dropdown.yamm-fullwidth .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
  }

}

@media (max-width: 767px) {

  .yamm {
    // width auto to avoid overflow navbar
    .dropdown.yamm-fullwidth .dropdown-menu {
      width: auto;
    }
    // remove horizontal padding
    .yamm-content {
      //padding-left: 0;
      //padding-right: 0;
    }

    .dropdown-menu > li > ul {
      display: block;
    }
  }
}

// inner mega menu styled
.yamm-content {
  h5 {
    color: $store-navbar-color;
    padding: 4px 8px;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  a:hover h5 {
    background-color: $store-navbar-bg-color;
  }
  nav:first-child {
    border-bottom: 1px dotted $store-navbar-color;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
  }
}

/*********************************** Categories , Brands , Models **********************************************/

#children-categories {
  img {
    height: 150px;
    width: 100%;
  }
}

#supported-brands {
  img {
    height: 50px;
    width: 100%;
  }
}

#models-of-brand {
  img {
    height: 150px;
    width: 100%;
  }
}

/****************************************** Products list *************************************************/

#products-list {

  .product-wrapper {
    margin-bottom: 5px;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 0;
  }

  .product-wrapper:hover {
    border: 1px solid #009688;
  }

  .product-thumbnail {
    position: relative;
  }

  .product-image-link {
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    cursor: auto;
    display: block;
    font-family: RobotoDraft, Roboto, sans-serif;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    text-decoration: none;
    overflow: hidden;
  }

  .product-image-wrapper {
    position: relative;
  }

  .product-image {
    width: 100%;
    height: 245px;
  }

  .product-title {
    height: $line-height-computed*3;
    padding: 10px 0;
    position: relative;
    z-index: 1000;
    background-color: white;

    h5 {
      margin: 0;
    }

  }

  .product-options {
    position: absolute;
    top: auto;
    right: 0;
    bottom: -30px;
    left: 0;
    width: auto;
    height: 28px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-align: center;
    vertical-align: middle;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.55);
  }

  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .product-image-wrapper:hover .product-options {
    bottom: 0;
  }

  .product-options a {
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
    padding: 0 4px;
    color: #fff;
  }

  .product-options {
    a:hover, a:active {
      color: #9E9E9E;
      i.fa-star-o {
        color: #FFD700;
      }
    }
  }

  @media (max-width: 479px) {
    .product-wrapper {
      padding: 0 !important;
    }
    .product-wrapper:hover {
      border-color: transparent;
    }

    .product-options {
      bottom: 0 !important;
    }
  }
}

//************************************************* filters sidebar **************************************

.filter-sidebar {
  margin-bottom: 25px;
}

.filter-sidebar-checkbox {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $store-navbar-color;
}

.filter-sidebar-checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.filter-sidebar-checkbox label:before {
  border: 1px solid $input-border;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 2px .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
  font-weight: bold;
}

.filter-sidebar-checkbox label.filter-sidebar-checkbox-checked:before {
  background: #fff;
  color: $brand-primary;
  content: "\2714";
  text-align: center;
}

// ************************************** Product Details ************************************************

.product-detail-main-image {
  margin-bottom: 10px;

  img {
    width: 100%;
    border: 1px solid #666666;
  }
}

.product-detail-title {
  font-size: 20px;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 20px;
}

.product-detail-table {

  tr td:first-child {
    width: 150px;
  }

  tr td:first-child::after {
    float: right;
    content: ":";
  }

  tr:last-child td:first-child::after {
    content: "";
  }

  tr td {
    vertical-align: middle !important;
  }

  tr td button {
    border-radius: 0;
  }

  .product-detail-quantity {

    width: 150px;

    .bootstrap-touchspin .bootstrap-touchspin-prefix {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .input-group-addon:first-child {
      border-right: 0;
    }
    .bootstrap-touchspin .input-group-btn-vertical > .btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .product-rating {
    font-size: 1.2rem;
  }
}

.tab-content .well {
  border-top: 0;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#product-detail-tabs {

  table tr td:first-child {
    background: #f8f8f8;
  }

  ul li a {
    color: #666666 !important;
    border-radius: 0;
  }
  ul li a:hover {
    color: darken($headings-color, 13%) !important;
    background-color: $store-navbar-bg-color !important;
  }
}

#review {

  .media {

    img {
      width: 64px;
      height: 64px;
    }

    .product-rating {
      font-size: 10px;
    }
  }

  form {
    .product-rating {
      font-size: 2rem;

      .rating-symbol {
        padding: 0 1px;
      }
    }
  }
}

#product_comments {

  .underlined-title h4 {
    margin-top: 2rem;
  }
}

.product-rating {
  .glyphicon-star, .glyphicon-star-empty {
    color: #fc0;
  }
}

// ******************************** Owl Carousel **************************************************************

.owl-theme .owl-nav {
  position: absolute;
  top: 1px;
  right: 1px;
  margin-top: 0;
}

.owl-theme .owl-nav .owl-prev {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.owl-theme .owl-nav .owl-next {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.owl-theme .owl-nav [class*='owl-'] {
  font-size: 18px;
  line-height: 1;
  margin: 0;
  padding: 0 5px;
  opacity: .5;
  border-radius: 0;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.img-thumbnail {
  border-radius: 0;
}

/* Other*/

.img-portfolio {
  margin-bottom: 30px;
}

.img-hover:hover {
  opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
  height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
  height: 100%;
}

header.carousel .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* 404 Page Styles */

.error-404 {
  font-size: 100px;
}

/* Pricing Page Styles */

.price {
  display: block;
  font-size: 50px;
  line-height: 50px;
}

.price sup {
  top: -20px;
  left: 2px;
  font-size: 20px;
}

.period {
  display: block;
  font-style: italic;
}

/* Footer Styles */

#footer {
  margin: 50px 0;
}

/* Responsive Styles */

@media (max-width: 991px) {
  .customer-img,
  .img-related {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .img-portfolio {
    margin-bottom: 15px;
  }

  header.carousel .carousel {
    height: 70%;
  }
}

.icon-small {
  height: 18px;
  margin: 0;
  padding: 0;
}

.icon-medium {
  height: 22px;
  margin: 0;
  padding: 0;
}

/*text indent*/
.text-indent {
  text-indent: 30px;
}

/*vertical margin*/
.top-buffer {
  margin-top: 20px;
}

/* full width*/
.full-width {
  width: 100%;
}