// Variables
@import "variables";
@import "my_variables";

/*********************** Global Styles **********************************/

html,
body {
  height: 100%;
}

.overflov-hidden {
  overflow: hidden;
}

.m-t-3 {
  margin-top: 4rem !important;
}

.m-b-3 {
  margin-bottom: 4rem !important;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.text-gray {
  color: #666666 !important;
}

input:not([type="radio"]):not([type="checkbox"]) {
  outline: none !important;
  box-shadow: none !important;
  padding: 6px 12px !important;
  height: 34px !important;
  border-color: $input-border !important;
  border-radius: 0 !important;
}

input:focus:not([type="radio"]):not([type="checkbox"]), input:active:not([type="radio"]):not([type="checkbox"]) {
  border-color: $brand-primary !important;
}

.checkbox {
  input[type="checkbox"] {
    display: none;
  }
  label {
    cursor: pointer;
    margin-left: -16px;
  }
  input[type="checkbox"] + label:before {
    border: 1px solid $input-border;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 2px .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
  }
  input[type="checkbox"]:checked + label:before {
    background: #fff;
    color: $brand-primary;
    content: "\2714";
    text-align: center;
  }
  input[type="checkbox"]:checked + label:after {
    font-weight: bold;
  }
}

// budges
.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

/************************ Navbar heights *********************************/

/* Small Navbar */

.navbar-small {
  .navbar {
    min-height: $navbar-small-height;
  }
  .navbar-header {
    padding: 0 15px;
    height: $navbar-small-height;
    line-height: $navbar-small-height;
  }
  .navbar-toggle {
    height: $navbar-small-height;
    margin: 0 15px;
    padding: 9px 10px !important;
  }
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      padding-top: 6px;
      padding-bottom: 6px;
      line-height: 20px;
    }
  }
}

/* Middle navbar*/

.navbar-middle {
  .navbar {
    min-height: $navbar-middle-height;
  }
  .navbar-header {
    padding: 0 15px;
    height: $navbar-middle-height;
    line-height: $navbar-middle-height;
  }
  .navbar-toggle {
    height: $navbar-middle-height;
    margin: 0 15px;
    padding: 9px 10px !important;
  }
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
    }
  }
}

/************************ Navbar colors *********************************/

/* Top Navbar */

#top-navbar {

  .navbar-default {
    border: none;
    border-radius: 0;
    margin: 0;
  }

  @media (max-width: 767px) {

    .navbar-default .navbar-collapse {

      background-color: $store-navbar-bg-color;

      ul > li > a {
        color: $store-navbar-color;
      }
      ul > li > a:hover, ul > li > a:focus {
        color: $store-navbar-highlight-color;
        background-color: $store-navbar-highlight-bg-color;
      }

      .active > a,
      .active > a:hover,
      .active > a:focus {
        color: $store-navbar-highlight-color;
        background-color: $store-navbar-highlight-bg-color;
      }
      .open > a,
      .open > a:hover,
      .open > a:focus {
        color: $store-navbar-highlight-color;
        background-color: $store-navbar-highlight-bg-color;
      }
    }
  }
}

/* Store Navbar*/

#store-navbar {
  .navbar-collapse {
    border: none;
  }

  .navbar-default {
    background-color: $store-navbar-bg-color;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 0;

    ul > li > a {
      color: $store-navbar-color;
    }

    ul > li > a:hover,
    ul > li > a:focus {
      color: $store-navbar-highlight-color;
      background-color: $store-navbar-highlight-bg-color;
    }

    ul > .active > a,
    ul > .active > a:hover,
    ul > .active > a:focus {
      color: $store-navbar-highlight-color;
      background-color: $store-navbar-highlight-bg-color;
    }

    ul > .open > a,
    ul > .open > a:hover,
    ul > .open > a:focus {
      color: $store-navbar-highlight-color;
      background-color: $store-navbar-highlight-bg-color;
    }

    ul > .open .dropdown-menu > li > a {
      color: $store-navbar-color;
    }

    ul > .open .dropdown-menu > li > a:hover, ul > .open .dropdown-menu > li > a:active {
      color: $store-navbar-highlight-color;
    }

    .navbar-toggle {
      border-color: $store-navbar-toggle-border-color;
    }

    .navbar-toggle:hover, .navbar-toggle:focus {
      background-color: $store-navbar-bg-color;
    }

    .navbar-toggle .icon-bar {
      background-color: $store-navbar-color;
    }
  }

  ul.navbar-feature > li > a:hover {
    background-color: $store-navbar-bg-color;
    color: $store-navbar-color;
  }

  .btn-cart-xs {
    background-color: $store-navbar-bg-color;
    height: 34px;
    padding: 8px 25px;
    margin-top: 3px;
  }
}

/************************ Other header styles *********************************/

// Separate user login reference

#top-navbar {
  @media (min-width: 992px) {
    #top-navbar-collapse ul:first-child {
      margin-left: 8.33333333%;
    }
  }
}

// Fixed search bar to top on scroll

.fixed-header-middle {
  position: fixed;
  top: -64px;
  left: 0;
  right: 0;
  padding: 0 !important;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/*Small Language Picker */

.navbar-small {

  #header-top-menu-language {

    .navbar-nav {
      margin: 0;
    }

    .navbar-nav > li > a {
      padding-top: 6px;
      padding-bottom: 6px;
      line-height: 20px;
    }

    .icon-small {
      height: 11px;
      margin: 0 5px 0 0;
      padding: 0;
      width: 16px;
    }
  }
}

/* Middle Header*/

#header-middle-wrapper {
  padding: 15px 0;
  background-color: #f9f9f9;
}

#header-middle {
  background-color: #f9f9f9;

  .header-middle-item {
    padding: 15px 0;
  }

  .header-middle-item-height {
    height: 34px;
  }

  .bootstrap-select {
    .btn {
      height: 34px;
      border-left: none;
      border-color: $input-border;
      outline: none;
    }

    ul li a:hover, ul li a[aria-selected="true"], .input-group-btn > .btn {
      background-color: $brand-primary;
      color: white;
      border: none;
      outline: none;
    }
  }

  .search-button {
    background-color: $brand-primary;
    color: white;
    border: none;
    outline: none;
  }

  #dropdown-cart {

    button {
      background-color: $store-navbar-bg-color;
    }
    button:hover {
      border: 1px solid $brand-primary;
    }
    .dropdown-menu {
      padding: 10px;
    }
  }
}

/*******************************************************/

/* Breadcrumbs */

.breadcrumb-wrapper {
  background-color: #f5f5f5;
}

.breadcrumb {
  margin: 0;
}

/* Underlined Title */

.underlined-title {
  border-bottom: 3px solid lighten($brand-primary, 6.5%);
  margin-bottom: 20px;
  h1, h2, h3, h4 {
    margin-top: 4rem;
    border-bottom: 3px solid darken($brand-primary, 6.5%);
    display: inline-block;
    margin-bottom: -3px;
    padding-bottom: 10px;
  }
}

/********************************** User Sidebar ***************************************/

#user-sidebar {
  padding-top: 4rem;

  // user link styles
  ul li:first-child {

    a {
      padding: 0;

      // user name
      h4 {
        padding: 10px 0;
        margin: 0;
        height: 40px;
      }

      // user image
      img {
        padding: 10px 60px;
      }
    }
  }

  // active user link styles
  ul li.active:first-child a {
    background-color: white;

    h4 {
      background-color: $brand-primary;
      color: white !important;
    }
  }

  // other link styles
  ul li a {
    color: #666666 !important;
    border-radius: 0;
  }
  ul li a:hover {
    color: darken($headings-color, 13%) !important;
  }
  ul li.active a {
    color: white !important;
  }
}

/********************************** User Navbar ***************************************/
#user-header {
  padding-top: 4rem;

  div:first-child:hover {
    background-color: $gray-lighter !important;

    h4 {
      background-color: $brand-primary;
      color: white !important;
    }
  }

  a {
    text-decoration: none;
  }

  // user image
  img {
    padding: 10px 60px;
  }

  // user name
  h4 {
    padding: 10px 0;
    margin: 0;
    height: 40px;
  }
}

#user-navbar {
  ul li {
    border-bottom: 1px solid $gray-lighter;
    margin: 0;
    padding: 10px 15px;
  }
  ul li:first-child {
  //background-color: $gray-lighter !important;
    border-top: 1px solid $gray-lighter;
  }
  ul li a{
    color: #666666 !important;
    //padding: 0;
    span{
      //padding: 10px 15px;
    }
  }
  ul li a:hover{
    color: darken($headings-color, 13%) !important;
    span:first-child{
      background-color: $brand-primary !important;
    }
  }

}

/* Other*/

.img-portfolio {
  margin-bottom: 30px;
}

.img-hover:hover {
  opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
  height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
  height: 100%;
}

header.carousel .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* 404 Page Styles */

.error-404 {
  font-size: 100px;
}

/* Pricing Page Styles */

.price {
  display: block;
  font-size: 50px;
  line-height: 50px;
}

.price sup {
  top: -20px;
  left: 2px;
  font-size: 20px;
}

.period {
  display: block;
  font-style: italic;
}

/* Footer Styles */

#footer {
  margin: 50px 0;
}

/* Responsive Styles */

@media (max-width: 991px) {
  .customer-img,
  .img-related {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .img-portfolio {
    margin-bottom: 15px;
  }

  header.carousel .carousel {
    height: 70%;
  }
}

.icon-small {
  height: 18px;
  margin: 0;
  padding: 0;
}

.icon-medium {
  height: 22px;
  margin: 0;
  padding: 0;
}

/*text indent*/
.text-indent {
  text-indent: 30px;
}

/*vertical margin*/
.top-buffer {
  margin-top: 20px;
}

/* full width*/
.full-width {
  width: 100%;
}